<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <title>CrearPost</title>
</head>
<body>
    <div class="crear_container">
    <p class="crear_post_title">CREAR POST</p>
    <div class="inputs">
        <form action="/crear" method="POST" onsubmit="return validar_crear()">
            <input type="text" name="titulo" placeholder="ingrese su titulo" id="titulo">
            <textarea name="contenido" placeholder="ingrese su contenido" rows="6" id="contenido"></textarea>
            <button type="submit">Subir</button>
        </form>
    </div>
    </div>
</body>
</html>