<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <title>CrearPost</title>
</head>
<nav>
        {% if session["usuario"] %}
            <button type="button" class="hamburger" onclick="MostrarMenu()">☰</button>
            <span><p class="usuario">@ {{ session["usuario"] }}</p></span>
            <div class="links_nav menu">
                <a class="crear_post" href="/crear">Nuevo Post</a>
                <a class="cerrar_sesion" href="/logout">Cerrar Sesión</a>
            </div>
        {% else %}
            <button type="button" class="hamburger" onclick="MostrarMenu()">☰</button>
            <div class="links_nav menu">
                <a class="cerrar_sesion" href="/login">Login</a>
                <a class="cerrar_sesion" href="/register">Registro</a>
            </div>
        {% endif %}
        <button class="btn_dark" type="button" onclick="CambiarTema()">🌙</button>
    </nav>
<body>
    <div class="crear_container">
    <p class="crear_post_title">CREAR POST</p>
    <div class="inputs">
        <form action="/crear" method="POST" onsubmit="return validar_crear()">
            <input class="titulo_crear" type="text" name="titulo" placeholder="ingrese su titulo" id="titulo">
            <textarea class="areatext" name="contenido" placeholder="ingrese su contenido" rows="6" id="contenido"></textarea>
            <button class="submit_crear" type="submit">Subir</button>
            <a class="volver_crear" href="/">Volver</a>
        </form>
    </div>
    </div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>